<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.utl.ist.cmov.airdesk" >

    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ListWorkspaces"
            android:label="@string/title_activity_list_workspaces" >
        </activity>
        <activity
            android:name=".activities.ListFiles"
            android:label="@string/title_activity_list_files"
            android:parentActivityName=".activities.ListWorkspaces" >
        </activity>
        <activity
            android:name=".activities.EditFile"
            android:label="@string/title_activity_edit_file"
            android:parentActivityName=".activities.ListFiles" >
        </activity>
        <activity
            android:name=".activities.workspaceSettings"
            android:label="@string/title_activity_workspace_settings"
            android:parentActivityName=".activities.ListWorkspaces" >
        </activity>
        <activity
            android:name=".activities.UserPrivileges"
            android:label="@string/title_activity_user_privileges"
            android:parentActivityName=".activities.workspaceSettings" >
        </activity>
        <activity
            android:name=".activities.Topics"
            android:label="@string/title_activity_topics"
            android:parentActivityName=".activities.ListWorkspaces">
        </activity>

        <service
            android:name=".domain.network.GlobalService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service android:name="pt.inesc.termite.wifidirect.service.SimWifiP2pService" />


    </application>

</manifest>
